@tailwind base;

@layer base {
  a {
    @apply cursor-pointer;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p > code, li > code {
    @apply p-1;
    @apply text-sm;
    @apply bg-slate-200;
    @apply rounded;
  }
  a:not(.reset-a) {
    @apply text-indigo-500;
    @apply underline;
  }
  ol, ul {
    list-style-position: inside !important;
    margin-left: 1em !important;
  }
  ol {
    list-style-type: decimal;
  }
  .blogpost ul {
    list-style: circle;
  }
}

@tailwind components;
@tailwind utilities;
